 body {
        font-family: Arial, sans-serif;
        background-color: #fff;
        margin: 0;
        padding: 20px;
     }
     
     
     

     .dudac{
        width: 150px;
        height: 150px;
        border-radius: 100%;

     }

     .micael{
        width: 150x;
        height: 150px;
        border-radius: 100%;
        

     }

     .brilhante{
        width: 150px;
        height: 150px;
        border-radius: 100%;

     }

     h2{
        color: #45a049;
     }

